body {
  margin: 0 !important;
}
.menuIcon.d-flex.justify-content-end .fa-bars.show,
.menuIcon.d-flex.justify-content-end .fa-xmark.show {
  color: #000 !important;
}
.desktopNav {
  position: unset !important;
}
.splide__list {
  backface-visibility: hidden;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.linksHeader {
  color: #333 !important;
}
.linksDesktop ul li {
  color: #333 !important;
}
.mobileNav.container-sm {
  position: unset !important;
}
.concierge_img img {
  max-width: 100%;
  width: 100%;
  height: 258px !important;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
}
.concierge-content {
  border-width: 0.5px 0.5px 0.5px 0px;
  border-style: solid;
  border-color: #ababab;
  border-radius: 0px 20px 20px 0px;
  height: 258px;
}
.concierge-content .header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #3d3d3d;
}
.concierge-content .desc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #3d3d3d;
}
.concierge-content .price span:nth-of-type(1) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #3d3d3d;
}
.concierge-content .price span:nth-of-type(2) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #3d3d3d;
}
.concierge-content .reserveBut {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 170px;
  height: 47px;
  background: #ffffff;
  border: 0.5px solid #3d3d3d;
  border-radius: 5px;
}
.concierge-content .reserveBut button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #3d3d3d;
}
@media only screen and (min-width: 768px) {
  .splide__list {
    flex-wrap: nowrap;
    justify-content: start;
    flex-direction: row;
    gap: 0;
  }
  .concierge_img img {
    max-width: 100%;
    width: 100%;
    height: 260px !important;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
  }
  .concierge-content {
    border: 1px solid #ababab;
    border-radius: 0px 0px 30px 30px;
    height: auto !important;
  }
  .concierge-content .header {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }
  .concierge-content .desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
  }
  .concierge-content .price span:nth-of-type(1) {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
  }
  .concierge-content .price span:nth-of-type(2) {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #3d3d3d;
  }
}
