body {
  margin: 0 !important;
}
.labal_singin {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #3d3d3d;
}
.singinSection {
  background: #ffffff;
  border: 0.5px solid #ababab;
}
.forgotText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: capitalize;
  color: #3d3d3d;
  cursor: pointer;
}
.password::placeholder,
.Email::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #d9d9d9;
}
.loginBut {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  width: 100%;
  height: 48px;
  background: #c4a671;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.loginBut button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}
.SingUpBox {
  cursor: pointer;
}
.SingUpBox .text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #3d3d3d;
}
.SingUpBox .text span {
  color: #c4a671;
}
input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #d9d9d9;
}
.landingPageImage {
  background-image: url("../assets/image/header2.jpg");
  background-position: center center;
  background-size: cover;
  height: 90px;
}
@media only screen and (min-width: 768px) {
  .singinSection {
    width: 47%;
    margin: 0 auto;
  }
  .landingPageImage {
    background-image: url(../assets/image/header2.jpg);
    background-position: center center;
    background-size: cover;
    height: 178px;
  }
  .SingUpBox {
  }
  .labal_singin {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }
  .forgotText {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }
  .loginBut {
    transition: ease-in 0.3s;
    cursor: pointer;
  }
  .loginBut:hover {
    transform: scale(0.9);
  }
  .SingUpBox .text {
    font-size: 18px;
  }
  input::placeholder {
    font-size: 18px;
  }
  .passWord::placeholder,
  .Email::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #d9d9d9;
  }
  .loginBut button {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
  }
}
